<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>简历app登录</title>
    <link rel="stylesheet" href="/resume_assets/bootstrap/css/bootstrap.min.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">植鹏的简历app</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/users/login">登录</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/users/signup">注册</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page login-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">登录</h2>
                    <p>登录以修改你的专属简历。</p>
                </div>
                <form id="loginForm" method="POST">
                    <div class="form-group"><label for="name">用户名</label><input class="form-control item" type="text" id="name" name="name"></div>
                    <div class="form-group"><label for="pwd">密码</label><input class="form-control" type="password" id="pwd" name="pwd"></div>
                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey=<%= siteKey %>></div>
                    </div><button class="btn btn-primary btn-block" type="submit">登录</button><a href="/users/signup">还没有账号？</a></form>
            </div>
        </section>
    </main>
    <script src="/resume_assets/js/jquery.min.js"></script>
    <script src="/resume_assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/resume_assets/js/script.min.js"></script>
    <script src="/javascripts/bundle_crypto.js"></script>    
    <script>
      document.getElementById('loginForm').addEventListener('submit', submit_login);
      function submit_login(e) {
        e.preventDefault();
        const captcha = document.querySelector('#g-recaptcha-response').value
        const name = document.querySelector("#name").value;
        const pwd = hashPW(name, document.querySelector("#pwd").value);
        if(captcha == null || captcha == '' || captcha == undefined) {
          alert("Please check the captcha box first.")
          return
        }
        fetch('/users/login', {
          method: 'POST',
          headers: {
            'Accept': 'application/json, text/plain',
            'Content-type': 'application/json'
          },
          body: JSON.stringify({
            name: name,
            pwd: pwd,
            captcha: captcha
          })
        })// Promise(s)
        .then((res) => res.json())
        .then((data) => {
          if(data['success'] == undefined || data['success'] == '' || data['success'] == null) 
          {
            if(data['msg']) {
              alert(data['msg'])
            }
          } 
          else if(data['success'] == false){
            if(data['msg']) {
              alert(data['msg'])
            }
          } 
          else 
          {
            document.location.href = data['bounceback']
          }
        })
      }

    </script>
  </body>
</html>
