<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Jerry's Resume</title>
    <link rel="stylesheet" href="resume_assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="resume_assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="projects-no-images.html">Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="cv.html">Resume</a></li>
                    <% if (locals.login && login) { %>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/users/logout?bounceback=/resume">Log out</a></li>
                    <% } else { %>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/users/login?bounceback=/resume">Log in</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" id="avatar" style="background-image:url(<%= avatar['return'] %>);">
                  <% if (locals.login && login) { %>
                  <input type="file" id="avatar_file" accept="image/*">
                  <% } %>
                </div>
                <div class="about-me">
                  <% for (i = 0; i < aboutme['return'].length; i++) { %>
                    <p><%- aboutme['return'][i]['data'] -%>
                    <% if (locals.login && login) { %>
                    <button class="delete_about_me" id="<%= aboutme['return'][i]['_id'] %>">Delete Me</button>
                    <% } %>
                    </p>
                  <% } %>
                  <% if (locals.login && login) { %>
                  <p id="test_drive"></p>  
                  <form action="/resume/upload/text" method="post">
                    <textarea id="new_aboutme" name="new_aboutme" style="width:100%;height:150px;">Hello! I am <strong>Zhipeng Xie</strong>. I am seeking a Software Enginnering Internship during the Summer 2019/2020.</textarea>
                    <br>
                    <input type="hidden" id="id" name="id" value="about-me">
                    <button type="button" id="cancelPreview">Cancel the Preview</button>
                    <input type="submit" value="Submit" />
                  </form>
                  <% } %>
                </div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>Special Skills</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Webapp Dev</h3>
                                <p class="card-text">Being familiar with Python3, JavaScript, Node.JS development.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">System Architecture Design</h3>
                                <p class="card-text">Contributed to group projects' system architecture design.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Stickler</h3>
                                <p class="card-text">Sparing no effort to make things perfect</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer"></footer>
    <script src="resume_assets/js/jquery.min.js"></script>
    <script src="resume_assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="resume_assets/js/script.min.js"></script>

    <% if (locals.login && login) { %>
    <script>
      function encodeImageFileAsURL(element) {
        var file = element.files[0];
        return new Promise(
          function(resolve, reject) {
            var reader = new FileReader();
            reader.onloadend = function() {
              resolve(reader.result)
            }
            reader.readAsDataURL(file)
          }
        )
      }
      $(document).ready(function(){
        $("#avatar_file").change(function(e){
            const new_img_input_ele = document.getElementById("avatar_file")
            encodeImageFileAsURL(new_img_input_ele)
            .then((img_b64) =>
              {
                fetch('/resume/upload/image', {
                  method: 'POST',
                  headers: {
                    'Accept': 'application/json, text/plain',
                    'Content-type': 'application/json'
                  },
                  body: JSON.stringify({
                    image: img_b64,
                    id: "avatar",
                  })
                })// Promise(s)
                .then((res) => res.json())
                .then((data) => {
                  $("#avatar").attr("style", "background-image:url(" + img_b64 + ")")
                })
              })
        })

        $("#new_aboutme").on('input', function(e){
          $("#test_drive").html($("#new_aboutme").val())
        })
        $("#cancelPreview").click(function() {
          $("#test_drive").empty()
        })
        $(".delete_about_me").click(function(){
          var retVal = confirm("Do you want to delete this?")
          if(!retVal){return}
          fetch('/resume/delete', {
            method: 'POST',
            headers: {
              'Accept': 'application/json, text/plain',
              'Content-type': 'application/json'
            },
            body: JSON.stringify({
              oid: $(this).attr( "id" ),
            })
          })// Promise(s)
          .then((res) => res.json())
          .then((data) => {
            // if(data['success']) {
            // } else {
            // }
            location.reload();
          })
        })
      })
    </script>
    <% }%>
</body>

</html>
