<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (locals.name) { %>
      <p>Currently logined as <%= name %></p>
      <form action="/users/logout">
        <input type="submit" value="Log Out" />
      </form>
    <% }%>
    <h1>User List</h1>
    <ul>
      <% for (i = 0; i < userlist.length; i++) { %>
            <!-- <li><a href="mailto:<%= userlist[i].email %>"><%= userlist[i].name %></a></li> -->
            <li><%= userlist[i].name %></li>
      <% }%>
    </ul>
  </body>
</html>